<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Urls</title>
</head>

<body>
    <div id="root">
        <noscript>Please enable Javascript to continue.</noscript>
        <form action="/save" method="post">
            <div id="extension">
                <input type="text" name="extension" id="extension_" placeholder="extension">
            </div>
            <div id="url">
                <input type="url" name="url" id="url_" placeholder="url">
            </div>
            <br>
            <div id="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <style>
        /* Center the div with id root */
        #root {
            margin: 0 auto;
            width: 50%;
            text-align: center;
        }
        body {
            background-color: #fafafa;
            padding-top: 1rem;
            text-align: center;
        }
        
    </style>
</body>

</html>