<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Make a custom redirect link.">
    <title>Custom Url</title>
</head>
<body>
<div id = "main">
        <noscript>Please enable Javascript to continue.</noscript>
        <script>
            try {
            window.location.href = " <%= url %>";   
            } catch (error) {
                document.body.write("Unable to redirect. Please try again.\n Make sure Javascript is enabled and the extension you provided has a valid redirect.");
            }
        </script>
</div>
    
</body>
</html>